@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Microsoft YaHei', Roboto, 'Noto Sans CJK SC', system-ui, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-inverted: 236 16.13% 18.24%;
    --foreground: 0 0% 3.9%;
    --foreground-1: 240 16% 16%;
    --foreground-2: 240 14.09% 29.22%;
    --foreground-5: 240 10% 46%;
    --foreground-inverted: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 266 100% 59%;
    --primary-foreground: 240 16% 16%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 17.39% 9.02% / 10%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --surface-1: 0 0% 100%;
    --surface-2: 0 0% 99.02%;
    --surface-3: 240 20% 95.1%;
    --alpha-5: 240 17.39% 9.02% / 5%;
    --alpha-10: 240 17.39% 9.02% / 10%;
    --stroke: 0 0% 100% / 5%;
    --stroke-1: 266 100% 59.22%;
    --gray-background-3: 240 10.71% 43.92%;
    --background-1: 0 0% 100%;
  }
  .dark {
    --background: 240 15.49% 13.92%;
    --background-1: 236 16.13% 18.24%;
    --background-inverted: 0 0% 100%;
    --foreground: 0 0% 98%;
    --foreground-1: 0 0% 100%;
    --foreground-2: 240 16.67% 85.88%;
    --foreground-5: 240 10 52%;
    --foreground-inverted: 240 15.66% 16.27%;
    --card: 240 15.49% 13.92%;
    --card-foreground: 0 0% 98%;
    --popover: 236 16.13% 18.24%;
    --popover-foreground: 0 0% 98%;
    --primary: 266 100% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --surface-1: 240 15.49% 13.92%;
    --surface-2: 240 17% 9%;
    --surface-3: 240 30.77% 5.1%;
    --alpha-5: 0 0% 100% / 5%;
    --alpha-10: 0 0% 100% / 10%;
    --stroke: 0 0% 100% / 5%;
    --stroke-1: 266 100% 59.22%;
    --gray-background-3: 240 12.43% 63.73%;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground m-0 text-sm;
  }
  img {
    @apply max-w-none;
  }
  button {
    @apply cursor-pointer;
  }
  .lucide {
    @apply cursor-pointer;
  }
}

::-webkit-scrollbar {
  display: none;
}
