@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-1: var(--background-1);
  --color-background-inverted: var(--background-inverted);
  --color-foreground: var(--foreground);
  --color-foreground-1: var(--foreground-1);
  --color-foreground-2: var(--foreground-2);
  --color-foreground-5: var(--foreground-5);
  --color-foreground-inverted: var(--foreground-inverted);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  --color-suface-1: var(--surface-1);
  --color-suface-1-hover: var(--surface-1-hover);
  --color-suface-2: var(--surface-2);
  --color-suface-3: var(--surface-3);
  --color-alpha-5: var(--alpha-5);
  --color-alpha-10: var(--alpha-10);
  --color-stroke: var(--stroke);
  --color-stroke-1: var(--stroke-1);
  --color-gray-background-3: var(--gray-background-3);
}

:root {
  --background: oklch(1 0 0);
  --background-inverted: hsl(236 16.13% 18.24%);
  --foreground: oklch(0.145 0 0);
  --foreground-1: hsl(240 16% 16%);
  --foreground-2: hsl(240 14.09% 29.22%);
  --foreground-5: hsl(240 10% 46%);
  --foreground-inverted: hsl(0 0% 100%);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --surface-1: hsl(0 0% 100%);
  --surface-2: hsl(0 0% 99.02%);
  --surface-3: hsl(240 20% 95.1%);
  --alpha-5: hsl(240 17.39% 9.02% / 5%);
  --alpha-10: hsl(240 17.39% 9.02% / 10%);
  --stroke: hsl(0 0% 100% / 5%);
  --stroke-1: hsl(266 100% 59.22%);
  --gray-background-3: hsl(240 10.71% 43.92%);
  --background-1: hsl(0 0% 100%);
}

.dark {
  --background: oklch(0.145 0 0);
  --background-1: hsl(236 16.13% 18.24%);
  --background-inverted: hsl(0 0% 100%);
  --foreground: oklch(0.985 0 0);
  --foreground-1: hsl(0 0% 100%);
  --foreground-2: hsl(240 16.67% 85.88%);
  --foreground-5: hsl(240 10 52%);
  --foreground-inverted: 240 15.66% 16.27%;
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --surface-1: hsl(240 15.49% 13.92%);
  --surface-2: hsl(240 17% 9%);
  --surface-3: hsl(240 30.77% 5.1%);
  --alpha-5: hsl(0 0% 100% / 5%);
  --alpha-10: hsl(0 0% 100% / 10%);
  --stroke: hsl(0 0% 100% / 5%);
  --stroke-1: hsl(266 100% 59.22%);
  --gray-background-3: hsl(240 12.3% 63.73%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
      'Microsoft YaHei', Roboto, 'Noto Sans CJK SC', system-ui, Arial,
      sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground m-0 text-sm;
  }
  img {
    @apply max-w-none;
  }
  button {
    @apply cursor-pointer;
  }
  .lucide {
    @apply cursor-pointer;
  }
}

::-webkit-scrollbar {
  display: none;
}

@utility mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@utility flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@utility flex-end {
  display: flex;
  align-items: center;
  justify-content: end;
}

@utility flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@utility bg-full {
  background-size: 100% 100%;
}

@utility shadow-none {
  box-shadow: none;
}
